  <div class="row border rounded">
    <div class="col-2">
      <div class="_card 1">
        <div class="_card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="overlay text-white">
          <img width="80" src="/images/play_white.png">
        </div>
        <div class="_card_title _title-white">
          <p>Card Title</p>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="_card 2">
        <div class="_card_image">
          <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" />
          </div>
          <div class="overlay text-white">
            <img width="80" src="/images/play_white.png">
          </div>
        <div class="_card_title _title-white">
          <p>Card Title</p>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="_card 3">
        <div class="_card_image">
          <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
        </div>
        <div class="overlay text-white">
          <img width="80" src="/images/play_white.png">
        </div>
        <div class="_card_title">
          <p>Card Title</p>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="_card 4">
        <div class="_card_image">
          <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
          </div>
          <div class="overlay text-white">
            <img width="80" src="/images/play_white.png">
          </div>
        <div class="_card_title _title-black">
          <p>Card Title</p>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="_card 4">
        <div class="_card_image">
          <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
          </div>
          <div class="overlay text-white">
            <img width="80" src="/images/play_white.png">
          </div>
        <div class="_card_title _title-black">
          <p>Card Title</p>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="_card 4">
        <div class="_card_image">
          <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
          </div>
          <div class="overlay text-white">
            <img width="80" src="/images/play_white.png">
          </div>
        <div class="_card_title _title-black">
          <p>Card Title</p>
        </div>
      </div>
    </div>
  </div>
